//whenever we push things to production...environment variables are taken from system not from files. 
//.env sample is made here just to learn things and this will be pushed as it is not added in gitignore file